streamlit
pandas
matplotlib
langchain
langchain-community
sentence-transformers
faiss-cpu
tiktoken
numpy
plotly
openai
PyPDF2
PyMuPDF
scikit-learn
opencv-python
Pillow
pytesseract
seaborn
joblib
sqlite3
